<div class="page-not-found showpage">
	<div class="sf-wrapper">
		<div class="sf-container sf-row sf-grid-wrapper">
			<div class="sf-cell sf-g-span-2 desktop-image">
				<div class="image-olaf-container">
					<img src="{{asset 'olaf-error.png'}}" alt="We're having trouble loading, ask Elsa for help!">
				</div>
			</div>
			<div class="sf-cell sf-g-span-2 error-message-container">
				<div class="error-404-message center">
					<h1>{{'pagenotfound'}}</h1>
					<p>{{'404_keepfrozen'}}</p>
					<p>{{'base_404_keepfrozen'}}</p>
					<p>
						<a href="/hc" class="btn return-home" aria-label="return to home" title="return to home">{{'base_404_returnhome'}}</a>
					</p>
				</div>
			</div>
			<div class="sf-cell sf-g-span-2 mobile-image">
				<div class="image-olaf-container">
					<img data-src="{{asset 'olaf-error.png'}}" alt="We're having trouble loading, ask Elsa to help!">
				</div>
			</div>
		</div>
	</div>
</div>
