{{!-- App Navigation --}}
<div class="app-navigation">
  <div class="content-wrapper sf-wrapper">
    <div class="sf-container sf-row sf-grid-wrapper">
      <div class="tree-list-container" id="main-content" style="padding-left: 10px">

        <div class="app-navigation-controls">
          <button id="arrow" onclick="closeBridge()" class="app-navigation-btn close"><img src="{{asset 'close-icon-blue.svg'}}" alt="close window"></button>
        </div>

        <div class="breadcrumb-container">
          <ul class="breadcrumbs desktop">
            <li><a id="breadcrumb" href="/hc">{{help_center.name}}</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

{{!-- Main Body --}}
<div class="content-wrapper sf-wrapper">
	<div class="sf-container sf-row sf-grid-wrapper" id="main">
		<div class="tree-list-container" id="main-content">
			<form>
				<fieldset style="border:none;">
					<legend>How can we help today?</legend>
					{{#each categories}}
					<label class="radio" style="display:block;">
						<span class="radio__input">
							<input class="radio-btn circle" type="radio" name="cat-radio-group" value="{{id}}"
								onclick="changeCategory(event)">
							<span class="radio__control"></span>
						</span>
						<span class="radio__label">{{name}}</span>
					</label>
					{{/each}}
				</fieldset>
			</form>

			<div id="sub-topics" class="subtopics-container" style="opacity: 0;
        		visibility: hidden;">
				<form>
					<fieldset class="topics--fieldset" style="border:none;">
						<legend>Select a Topic</legend>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div class="submit-button-footer" style="
		position: fixed;
        bottom: 0;
		opacity: 0;
        visibility: hidden;
		left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 30px;">

		<div class="submit-button-container">
			<input type="submit" id="submit" value="Continue" onclick="submitCategory()" class="categories-btn--submit">
		</div>
	</div>
</div>

</div>


<script>
	var selectedCategory = null;
	var selectedTopic;
	var categories = [];
	var categoryDataURL;

	var previousUrl = document.referrer;
	isRecongizationForm = previousUrl.indexOf("13176891983373") !== -1 || previousUrl.indexOf("15000027711") !== -1;
	wasDirectLink = (previousUrl.indexOf("categoryId") === -1);

	//When we select a topic, update the UI accordingly
	function changeCategory(e) {
		selectedCategory = null;
		$('.subtopics-container').removeClass('show');
		$('.topics--fieldset .topic').remove();
		
		var categoryId;

		if(e) {
			categoryId = $("input[name='cat-radio-group']:checked").val();
		}else {
			categoryId = sessionStorage.getItem("selectedtopic"); 
		}
		
		if (!categoryId)
			return;

		if(categoryId) {
			if($("input[name='cat-radio-group']:checked").val() != categoryId) {
				$('[name=cat-radio-group][value='+categoryId+']').prop('checked',true);
			}

			sessionStorage.setItem("selectedtopic", categoryId);
		}

		categories.forEach(function (category) {
			if (category.id == categoryId) {
				selectedCategory = category;
			}
		});

		if (selectedCategory && selectedCategory.topics.length > 0) {
			$('.submit-button-footer').removeClass('show');
			showTopics();
		} else {
			$('.submit-button-footer').addClass('show');
		}

	}

	function showTopics() {
		var $topics = '';
		$('.topics--fieldset .topic').remove();
		$('.subtopics-container').addClass('show');

		selectedCategory.topics.forEach(function (topic) {
			$topics += '<label class="topic" >' +
				'<span class="radio__input">' +
				'<a class="topic-link" onclick="setTopic(event)">' +
				'<i class="topic-icon icon-' + topic.icon + '"></i>' +
				'<span class="topic-label">' + topic.name + '</span>' +
				'</a>' +
				'</span>' +
				'</label>'
		});

		$('.topics--fieldset').append($($topics));
		//put them into view
		document.getElementById("sub-topics").scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
	}

	//access the data we require
	function loadData(dataURL) {
		$.getJSON(dataURL, function (category_data) {
			categories = category_data.categories;
		}).done(function () {
			changeCategory();
		});
	}

	function setTopic(e) {
		selectedCategory.topics.forEach(function (topic) {
			if (topic.name == $(e.currentTarget).text()) {
				selectedTopic = topic;
			}
		});

		var contactFormLink = "https://" + window.location.hostname + "/hc/" + lang + "/requests/new?ticket_form_id=" + selectedTopic.formId + "&categoryId=" + selectedCategory.id + "&category=" + selectedCategory.name + "&topic=" + selectedTopic.name + "&fieldId=" + selectedTopic.fieldId + "&tag=" + selectedTopic.tag;
		window.location = contactFormLink;
	}

	function submitCategory() {
		var contactFormLink = "https://" + window.location.hostname + "/hc/" + lang + "/requests/new?ticket_form_id=" + selectedCategory.formId + "&categoryId=" + selectedCategory.id + "&category=" + selectedCategory.name + "&fieldId=" + selectedCategory.fieldId + "&tag=" + selectedCategory.tag;
		window.location = contactFormLink;
	}

	function handleDone() {
		if (history && history.length > 2) {
			handleCastComplimentRedirect(-2);
		} else {
			closeBridge();
		}
	}

	function handleArrow() {
		track('close');
		handleDone();
	}

	$ (function () {
	// for alerts lets define page type
		$('body').attr("page", "homepage");
		$('body').addClass('homepage');
		if (isComplimentForm) {
			const thankYouMessage = `{{dc 'hc_zc_emprecog_thankyou'}}`;
			const headerTitle = "Mobile Employee Recognition";

			setAnalyticsValues();
			track("pageConfirmation");
			$('body').addClass("emp-recognition-form");
			$('#arrow').attr("onclick", "handleArrow()");

			var $breadcrumb = $('#breadcrumb');
			$breadcrumb.text(headerTitle);
			$breadcrumb.attr('href', "javascript:handleDone()");

			var $doneButton = $('<input class="submit-button" name="&lid=helpCenterOverview" type="submit" value="Done">');
			$doneButton.click(function() {
				track("done");
				handleDone();
			});
			
			var $img = $('<img alt="We are the Awesome">');
			$img.attr('src', "{{dc 'hc_zc_emprecog_confirmation_img'}}");

			var $text = $('<p>');
			$text.html(thankYouMessage);

			$('#main').html($img);
			$('#main').append($text);
			$('#main').append($doneButton);

			$('.submit-button-footer').remove();

			setTimeout(() => {
				$('._63983a716933a264792c2d8aeb1396b7-css').remove();
			}, 1000);
		}
		
		//Parse Category Data
		switch (window.location.hostname) {
			//case 'd3v-ztechopssandbox.zendesk.com':
				//loadData("{{asset 'stage_zTO_categories.json'}}");
				//break;

			//case 'd3v-ztechclubsandbox.zendesk.com':
				//loadData("{{asset 'stage_zC_categories.json'}}");
				//break;

			case 'd3v-ztechops.zendesk.com':
			//case 'contactform.app.d3v-zTechOps.com':
				loadData("{{asset 'zTO_categories.json'}}");
				break;

			case 'd3v-ztechclub.zendesk.com':
			//case 'contactform.app.d3v-zTechClub.com':
				loadData("{{asset 'zC_categories.json'}}");
				break;

			default:
				////console.log('No Asset found for current URL');
		}
	}); //END Doc Ready
</script>