{{!-- App Navigation --}}
<div class="app-navigation">
  <div class="content-wrapper sf-wrapper">
    <div class="sf-container sf-row sf-grid-wrapper">
      <div class="tree-list-container" id="main-content" style="padding-left: 10px">
       
        <div class="app-navigation-controls">
          <button id="arrow" onclick="window.location.href='/hc'" class="app-navigation-btn return"><img src="{{asset 'back-mobile-blue.svg'}}" alt="return to topic selection"></button>
        </div>

        <div class="breadcrumb-container">
          <ul class="breadcrumbs desktop">
            <li><a id="breadcrumb" href="/hc">{{help_center.name}}</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="content-wrapper sf-wrapper">
  <div id="image"></div>
  <div class="sf-container sf-row sf-grid-wrapper form-wrapper">
	  <div class="form sf-g-span-4 sf-cell">
		<h1 class="category-title"></h1>
		{{request_form}}
	  </div>
  </div>
</div>

<script>
	const minCharsAction = 3;
	
	var handleReturn;
	$('body').addClass('new_request');
	//force update the optionals
	$('span.optional').html(' - optional');
	var show_fields = '{{settings.hidden_fields}}';
	categoryId = getParam('categoryId');
	categoryName = getParam('category');
	var fieldId = getParam('fieldId');
	var selectedTopic = getParam('topic');
	var tag = getParam('tag');
	formId = getParam('ticket_form_id');
	var fields = [];
	var $form = $('#new_request');
	isComplimentForm = (formId ==="13176891983373")
	var isDirectLink = (categoryId === undefined);
	function updateParams() {
		//rebuild the form /action to contain our parameters
		var currentURL = (document.URL);
		var part = currentURL.split("?")[1];
		var action = $form.attr('action');
		$form.attr('action', action+"?"+part);
	};
	//Hides all fields from form_field.JSON that matches the current formId
	function hideFields() {
		var fieldUrl = '';
		//Parse Category Data
		switch(window.location.hostname) {
			case 'd3v-ztechops.zendesk.com':
			//case 'contactform.app.ztechops.com':
				fieldUrl = "{{asset 'zTO_fields.json'}}";
				break;
			case 'd3v-ztechclub.zendesk.com':
			//case 'contactform.app.ztechclub.com':
				fieldUrl = "{{asset 'zC_fields.json'}}";
				break;
			default:
				console.log('No Asset found for current URL');
		}
		//loop all the fields and hide them
		$.getJSON(fieldUrl, function (form_data) { 
			form_data.forms.forEach(function(form) {
				if(form.form_id == parseInt(formId)){
					form.values.forEach(function(field) {
						$(['.request_custom_fields_', field].join('')).hide();
					});
				}
			});
		});
	}
	  
	function parseFormData(data) {
		try {
            return JSON.parse(data);
        } catch (e) {
            return data;
        }
  	}	
	function setFormData(data) {
    	data = parseFormData(data);
    switch (window.location.hostname) {
    	case 'd3v-ztechclub.zendesk.com/':
    	case 'd3v-ztechclub.zendesk.com':
      		//Customer First Name
  			if (data.customerFirstName) {
  				$('#reqest_custom_fields_13175156023437').val(data.customerFirstName);
  			}

			//Customer Name zTechClub
			if (data.customerFirstName) {
				var customerName = data.customerFirstName;
				if(data.customerLastName) {
	  				guestName = [data.customerFirstName, data.customerLastName].join(' ');
				}
				
						$('#request_custom_fields_13081377764365').val(customerName);
					}
					//Guest Email
					if (data.email && data.email.length) {
						$('#request_anonymous_requester_email').val(data.email);
					}

					break;
			case 'd3v-ztechops.zendesk.com':
			//case 'contactform.app.d3v-ztechops.com':			
			case 'd3v-ztechclub.zendesk.com':
			//case 'contactform.app.d3v-ztechclub.com':
		}
	}
  
  	//Sets Category Data
	function setCategory() {		
		if(fieldId) {
			$(['#request_custom_fields_', fieldId].join('')).val(tag);
			if(platformKey) {
				var fieldName = ['.request_custom_fields_', fieldId].join('');
				$(fieldName + ' ' + '.nesty-input').text(selectedTopic);
			}
		}
	}
	
	$(function () {
		$('body').attr("page", "new_request");
		updateParams();
		//hide attachments in android CRM-840
		//if(/Android/i.test(navigator.userAgent)){
		//	$("label[for='request-attachments']").hide();
		//	$('#upload-dropzone').hide();
		//}
		
		//this is for QA when they want to test fields being set
		if(show_fields === 'true') {
			hideFields();
		}
		
		if(window.ztechclub.device.embedded) {
			var intervalId = window.setInterval(function() {
				if(nativeBridge) {
					setCategory();
					callForData();
					clearInterval(intervalId);
				}
			}, 50);
		}else {
			//Update Category
			setCategory();
		}

		handleReturn = function() {
			track("back");
			var previousUrl = document.referrer;
			if (history && previousUrl) {
					handleCastComplimentRedirect(-1);
			} else {
				closeBridge();
			}
		}

		if (isComplimentForm) {
			const notificationErrorMessage = `{{ 'notificationErrorMessage'}}`;
			const dropdownDefaultMessage = `{{ 'dropdownDefaultMessage'}}`;
			const requiredText = `{{ 'dropdownRequired'}}`;	
			$('#breadcrumb').text(headerTitle);
			if (!userData) { connectBridge();} else { console.log("USER", userData); }
			if (!document.referrer) { wasDirectLink = true; }
			setAnalyticsValues();
			track("pageLanding");

			function formatDate(myDate) {
				myDate = new Date(myDate);
				return ((myDate.getMonth() > 8) ? (myDate.getMonth() + 1) : ('0' + (myDate.getMonth() + 1))) + '/' + ((myDate.getDate() > 9) ? myDate.getDate() : ('0' + myDate.getDate())) + '/' + myDate.getFullYear();
			}
			
			$form.on('submit', handleSubmit);
			$('body').addClass("cast-compliment-form");
			$('#arrow').attr('onclick', "handleReturn()");
			$('#breadcrumb').attr('href', "javascript:handleReturn()");
			$('#request_custom_fields_1500012085061, #request_custom_fields_1500015318022').attr('maxlength', "15");
			$('#request_custom_fields_1500012085061, #request_custom_fields_1500015318022').attr('placeholder', "Chris");
			$('#request_custom_fields_1900000652005, #request_custom_fields_1500015270301').attr('maxlength', "35");
			$('#request_custom_fields_1900000652005, #request_custom_fields_1500015270301').attr('placeholder', "Orlando, FL");
			$('#request_custom_fields_1500009525922_label, #request_custom_fields_1500010467522_label').append("*");
			$('#request_custom_fields_1900001444185_label, #request_custom_fields_1500010396161_label').append("*");
			$('h1:first').after(`<label id='required-fields-text'>${requiredText}</label>`);
			
			var img = $('<img alt="Anyone creating recommendation at awesome zTechOps environment">');
			img.attr('src', "{{dc 'hc_mdx_castcomp_form_img'}}");
			img.appendTo('#image');
			$(".nesty-input:eq(1)").text(dropdownDefaultMessage);
			$(".nesty-input:eq(2)").text(dropdownDefaultMessage);
			const optionalData = `{{ 'hc_zC_recommend_optional'}}`;
			if (optionalData.indexOf("Could not find the placeholder") < 0) {
				$("div.form-field:last-of-type").before(`<div id="optional_container"><p>{{dc 'hc_zC_recommend_optional'}}</p></div>`);
				$("div.form-field.string.optional").appendTo("#optional_container");
			}	
			$("form").after(`<div id="disclaimer"><p>{{ 'hc_mdx_recommend_disclaimer'}}</p></div>`);
			$(".notification-error").text(notificationErrorMessage);
			$(".notification-error").prepend(`<img id="notification-error-icon" src="{{asset 'alert.png'}}" alt="close window">`);
			
			//zendesk generates a unique id for the null value "-" in a dropdown list,
			//and prevents us from targeting that element.
			//so instead, i select the first dropdown value and get previous sibling
			//somehow changing previous sibling seems to work :D
			$(document).ready(function() {
				$('a.nesty-input').click(function(){
					//right now i hardcoded the first value in the dropdown. Is there a better way?
					//let current = document.querySelector("#castcomp_caring_for_my_individual_needs_");
					let elements = document.querySelectorAll('li');
					let current = document.getElementById(elements[2].id);
			    	let prevSibling = current.previousElementSibling;
			    	$(prevSibling).html(dropdownDefaultMessage);
				});
			});
			$('.category-title').html("{{dc 'hc_zC_recommend_title'}}");
			$('#request_subject').val("Recongization of Appreciate");
			$('.request_subject').hide();
			$('#request_description').val("Person has shared appreciation about their view of experience. See ticket fields for details.");
			$('.request_description').hide();
			$('.request_anonymous_requester_email').hide();
			$('#request_anonymous_requester_email').val("recognize.now@ztechops.com");
			$("label[for='request-attachments']").hide();
			$('#upload-dropzone').hide();

		}else if(selectedTopic) {
			$('.category-title').html(['Help with', ' ', selectedTopic].join(''));
		}else {
			$('.category-title').html(['Help with', ' ', categoryName].join(''));
		}
	});
</script>