<header class="header sf-wrapper">
	<div class="sf-container sf-row sf-grid-wrapper">
		<div class="inner-nav-container">
			<div class="breadcrumbs desktop">
				{{breadcrumbs}}
			</div>
			<ul class="breadcrumbs mobile">
				<li><a href="/hc">{{help_center.name}}</a></li>
			</ul>
		</div>
		<div class="sf-cell sf-g-span-4 mobile-nav-container">
			<ul class="breadcrumbs">
				<li><a class="mobile-breadcrumb-url">
						<p class="mobile-breadcrumb"></p>
					</a></li>
			</ul>
			</ul>
			<div class="show-search">
				<i class="search-icon"></i>
			</div>
			<div class="mobile-search">
				<i class="search-icon"></i>
				<div class="searchbar mobile" id="search_mobile">
					{{search instant=true scoped=true class="query" submit=false}}
				</div>
				<div class="hide-search">
					<i class="close-icon"></i>
				</div>
			</div>
		</div>
	</div>

</header>

<div class="search-results-page">
	<div class="hero-container sf-wrapper">
		<div class="sf-container sf-row sf-grid-wrapper">

			<div class="hero-content ">
				<div class="bg-image">
					<span class="nav-header-fade right"></span>
					<span class="nav-header-fade left"></span>
				</div>
			</div>
			<div class="hero-lower-content sf-cell sf-g-span-4">
				<h1>{{dc 'hc_base_bannertext'}}</h1>
				<div class="searchbar" id="search_desktop">
					{{search instant=false scoped=true class="query" submit=false}}
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper sf-wrapper">
		<div class="sf-container sf-row sf-grid-wrapper shadow-box">
			<div class="sf-cell sf-g-span-4">
				<header class="page-header">
					<i class="section-icon search-icon"></i>
					<div class="inline-text-container">
						<h2 class="section-name" tabIndex="0" id="main-content">{{t 'search_results'}}</h2>
						<p tabIndex="0" class="page-header-description">{{t 'results' query=query count=results_count}}
						</p>
					</div>
				</header>
				<div class="search-results">
					<section class="search-results-column">
						<ul class="search-results-list">
							{{#each results}}
							<li class="search-result">
								<a href="{{url}}" class="search-result-link" >
									<p class="result-title">{{title}}</p>
									<p 	class="search-result-description">{{text}}</p>
								</a>
							</li>
							{{/each}}
						</ul>
					</section>
				</div>
				{{pagination}}
			</div>
		</div>
	</div>

</div>

